[x-cloak] {
    display: none;
  }


                                                                /* The Modal (background) */
.modal 
{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content 
{
  background-color: #c1d8e6;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid rgb(135, 149, 179);
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close 
{
  color: rgb(57, 70, 105);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus 
{
  color: black;
  text-decoration: none;
  cursor: pointer;
}



                                                                        /* Reservation Form */


.res-space 
{
  min-height: 345px;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}

.res-space .groupr
{
    margin-bottom: 15px;
}

.res-space .groupr .label,
.res-space .groupr .input
{
    width: 40%;
    color: rgb(0, 0, 0);
    display: block;
}

.res-space .groupr .button
{
    width: 40%;
    color: rgb(224, 228, 235);
    display: block;
    
}

.res-space .groupr .input,
.res-space .groupr .button
{
    border: none;
    padding: 15px 20px;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.829);
}

.res-space .groupr input[data-type="password"]
{
    /*text-security: circle;*/
    -webkit-text-security: circle;
}

.res-space .groupr .label
{
    color: rgb(7, 14, 75);
    font-size: 17px;
}

.res-space .groupr .button
{
    background: #1161ee;
}

.res-space .groupr label .icon
{
    width: 15px;
    height: 15px;
    border-radius: 2px;
    position: relative;
    display: inline-block;
    background: rgba(255, 255, 255, .1);
}

.res-space .groupr label .icon:before,
.res-space .groupr label .icon:after
{
    content: '';
    width: 10px;
    height: 2px;
    background: rgb(255, 255, 255);
    position: absolute;
    transition: all .2s ease-in-out 0s;
}

.res-space .groupr label .icon:before
{
    left: 3px;
    width: 5px;
    bottom: 6px;
    transform: scale(0) rotate(0);
}

.res-space .groupr label .icon:after
{
    top: 6px;
    right: 0;
    transform: scale(0) rotate(0);
}



.res-space .groupr .check:checked+label {
    color: rgb(255, 255, 255);
}

.res-space .groupr .check:checked+label .icon {
    background: #1161ee;
}

.res-space .groupr .check:checked+label .icon:before {
    transform: scale(1) rotate(45deg);
}

.res-space .groupr .check:checked+label .icon:after {
    transform: scale(1) rotate(-45deg);
}









